.ten-day-forecast {
    background: rgba(0, 0, 0, 0.4);
  border: solid 1px white;
  border-radius: 30px;
  color: white;
  height: 40vh; 
}

.ten-day-header {
  text-align: center;
  font-size: 44px;
  margin-bottom: 30px;
}

.ten-day-card-container {
  overflow: scroll;
  white-space: nowrap;
}
